.form {
  display: flex;
  gap: 10px;
}

.input, .button {
  font-size: 15px;
  padding: 8px;
  border: 1px solid #3333ff;
  border-radius: 4px;
  outline: none;
}

.input {
  width: 300px;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button {
  background-color: transparent;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}